* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filtro {
height: 100px;
background-color:#29B1DD ;
}

h1 {
    color: #29B1DD;
    font-size: 50px;
}

.container {
    background-color: #DDDDDD;
}

.container-icons {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-icon {
    text-align: center;
    background-color: white;
    height: 100px;
    width: calc(100% / 5 - 30px);
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 8px 7px 7px -2px rgba(0,0,0,0.39);
}

/* .icon {
    
} */

.blue {
    color: blue;
}

.green {
    color : green;
}

.orange {
    color : orange;
}


